:root {
 --black: #181C25;
 --black-lighter: rgb(46, 52, 66);
 --black-darker: rgb(17, 19, 26);
 --orange: orange;
 --green: rgb(54, 138, 54);
 --yellow: yellow;
 --blue: aqua;
 --purple: rebeccapurple;
 --white: white;
}

body {
 font-family: 'Helvetica', 'Arial', sans-serif;
 width: 90vw;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-content: center;
 background: var(--black);
 color: var(--white);
 font-size: 1rem;
 line-height: 1.4rem;
 padding-top: 4rem;
}

.content {
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-gap: 2rem;
 align-items: start;
 align-content: center;
}

img {
 max-width: 100%;
}

.cta {
 display: inline-block;
 background: transparent;
 border: none;
 padding: 1rem;
 cursor: pointer;
 margin: 0;
 font-size: 1rem;
 color: var(--white);
 width: 7rem; 
 text-align: center;
 text-decoration: none;
}

.cta:hover {
 background: var(--black-darker);
}

nav {
 display: flex;
}