:root {
 --black: #181C25;
 --black-lighter: rgb(46, 52, 66);
 --black-darker: rgb(17, 19, 26);
 --orange: orange;
 --green: rgb(54, 138, 54);
 --yellow: yellow;
 --blue: aqua;
 --purple: rebeccapurple;
 --white: white;
}

body {
 font-family: 'Helvetica', 'Arial', sans-serif;
 width: 80vw;
 margin: 0 auto;
 min-height: 100vh;
 background: var(--black);
 color: var(--white);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 line-height: 22px;
}

img {
 max-width: 50%;
 margin: 16px;
}

div {
 position: relative;
}

div img {
 float: right;
}

div:nth-child(even) img {
 float: left;
}

a {
 color: var(--blue);
}